In [20]:
import pandas as pd
from urllib.parse import unquote

dataFolder = '../Data/wikispeedia_paths-and-graph/'
articlesDf = pd.read_csv(dataFolder+ 'articles.tsv')
articlesDf = articlesDf.iloc[10:]
articlesSeries  = pd.Series(articlesDf.index.map(lambda x : x[0])).map(lambda y : unquote(y,'utf-8'))
articlesSeries.columns= 'article'
articlesSeries.head(10)

0         Áedán_mac_Gabráin
1                     Åland
2             Édouard_Manet
3                      Éire
4     Óengus_I_of_the_Picts
5    €2_commemorative_coins
6              10th_century
7              11th_century
8              12th_century
9              13th_century
dtype: object

In [21]:
linksDf = pd.read_csv(dataFolder + 'links.tsv', skiprows= 11, sep = '\t')
linksDf.columns = ['linkSource', 'linkTarget']
linksDf['linkSource'] = linksDf['linkTarget'].map(lambda x : unquote(x, 'utf-8'))
linksDf['linkTarget'] = linksDf['linkTarget'].map(lambda x : unquote(x, 'utf-8'))
linksDf

            linkSource      linkTarget
0              Columba         Columba
1            Dál_Riata       Dál_Riata
2        Great_Britain   Great_Britain
3              Ireland         Ireland
4          Isle_of_Man     Isle_of_Man
...                ...             ...
119876    South_Africa    South_Africa
119877       Swaziland       Swaziland
119878  United_Kingdom  United_Kingdom
119879          Zambia          Zambia
119880        Zimbabwe        Zimbabwe

[119881 rows x 2 columns]

In [29]:
categoriesDf = pd.read_csv(dataFolder + 'categories.tsv', skiprows=12, sep= '\t')
categoriesDf.columns = ['article', 'categories']
categoriesDf['article'] = categoriesDf['article'].map(lambda x : unquote(x,'utf-8'))
categoriesDf

                article                                         categories
0     Áedán_mac_Gabráin                  subject.People.Historical_figures
1                 Åland                                  subject.Countries
2                 Åland  subject.Geography.European_Geography.European_...
3         Édouard_Manet                             subject.People.Artists
4                  Éire                                  subject.Countries
...                 ...                                                ...
5198          Zirconium        subject.Science.Chemistry.Chemical_elements
5199          Zoroaster       subject.People.Religious_figures_and_leaders
5200       Zuid-Gelders               subject.Geography.European_Geography
5201       Zuid-Gelders          subject.Language_and_literature.Languages
5202               Zulu                subject.Geography.African_Geography

[5203 rows x 2 columns]

In [24]:
#for paths_finishedDf FORMAT:   hashedIpAddress   timestamp   durationInSec   path   rating
paths_finishedDf = pd.read_csv(dataFolder + 'paths_finished.tsv',skiprows= 15, sep = '\t')
paths_finishedDf.columns = ['hashIpAddress', 'timestamp', 'durationInSec', 'path', 'rating']
paths_finishedDf

,hashIpAddress,timestamp,durationInSec,path,rating
0,3824310e536af032,1344753412,88,14th_century;Europe;Africa;Atlantic_slave_trad...,3.0
1,415612e93584d30e,1349298640,138,14th_century;Niger;Nigeria;British_Empire;Slav...,NaN
2,64dd5cd342e3780c,1265613925,37,14th_century;Renaissance;Ancient_Greece;Greece,NaN
3,015245d773376aab,1366730828,175,14th_century;Italy;Roman_Catholic_Church;HIV;R...,3.0
4,5295bca242be81fe,1372890414,110,14th_century;Europe;North_America;United_State...,NaN
...,...,...,...,...,...
51312,15a13a1d66ef5456,1349231015,66,Yagan;Ancient_Egypt;Civilization,NaN
51313,2ef7ac844cefda58,1300254138,165,Yagan;Folklore;Brothers_Grimm;<;19th_century;C...,3.0
51314,12863abb7887f890,1385095372,228,Yagan;Australia;England;France;United_States;T...,NaN
51315,19f8284371753362,1298792567,56,Yarralumla%2C_Australian_Capital_Territory;Aus...,1.0
51316,24b84602179de377,1318122701,30,Ziad_Jarrah;Germany;Jew,NaN

In [26]:
paths_unfinishedDf = pd.read_csv(dataFolder + 'paths_unfinished.tsv',skiprows = 16, sep = '\t')
paths_unfinishedDf.columns = ['hashIpAddress', 'timestamp', 'durationInSec', 'path', 'target','type']
paths_unfinishedDf

,hashIpAddress,timestamp,durationInSec,path,target,type
0,26141fd878806294,1297055651,1805,Julius_Caesar,Caracas,timeout
1,2b015fb8181c48f2,1297090819,1818,Malawi;Democracy;Alexander_the_Great,First_Crusade,timeout
2,53a53bc244e08a6a,1297094761,49,Paraguay,Mount_St._Helens,restart
3,53a53bc244e08a6a,1297099105,1808,Paraguay;Bolivia,Mount_St._Helens,timeout
4,131600803df4895e,1297100557,2009,Agriculture;History_of_the_world;China;Yangtze...,Grand_Canal_of_China,timeout
...,...,...,...,...,...,...
24869,109ed71f571d86e9,1389787605,180,Franz_Kafka;Tuberculosis;World_Health_Organiza...,Cholera,restart
24870,232f992e57d43e8d,1389787697,6,Modern_history,Hollandic,restart
24871,2e09a7224600a7cd,1389798400,1900,Computer_programming;Linguistics;Culture;Popul...,The_Beatles,timeout
24872,60af9e2138051b96,1389799481,1903,Jamaica;United_Kingdom;World_War_II;Battle_of_...,Alan_Turing,timeout
24873,1cf0cbb3281049ab,1389822841,352,Mark_Antony;Rome;Tennis;Hawk-Eye;Computer,Feather,restart

In [27]:
shortestPath = pd.read_csv(dataFolder+'shortest-path-distance-matrix.txt', skiprows= 15)
print(shortestPath.shape)
shortestPath.columns = ['shortest_path', 'temp']
shortestPath = shortestPath['shortest_path']
shortestPathDf = pd.DataFrame(columns= articlesSeries)
shortestPathDf

(4604, 2)

Empty DataFrame
Columns: [Áedán_mac_Gabráin, Åland, Édouard_Manet, Éire, Óengus_I_of_the_Picts, €2_commemorative_coins, 10th_century, 11th_century, 12th_century, 13th_century, 14th_century, 15th_Marine_Expeditionary_Unit, 15th_century, 16_Cygni, 16_Cygni_Bb, 16th_century, 1755_Lisbon_earthquake, 17th_century, 1896_Summer_Olympics, 18th_century, 1928_Okeechobee_Hurricane, 1973_oil_crisis, 1980_eruption_of_Mount_St._Helens, 1997_Pacific_hurricane_season, 19th_century, 1_Ceres, 1st_century, 1st_century_BC, 2-6-0, 2-8-0, 2003_Atlantic_hurricane_season, 2004_Atlantic_hurricane_season, 2004_Indian_Ocean_earthquake, 2005_Atlantic_hurricane_season, 2005_Hertfordshire_Oil_Storage_Terminal_fire, 2005_Kashmir_earthquake, 2005_Lake_Tanganyika_earthquake, 2005_Sumatra_earthquake, 20th_century, 21st_century, 2nd_century, 3_Juno, 3rd_century, 4-2-0, 4-4-0, 4-6-0, 47_Ursae_Majoris, 47_Ursae_Majoris_b, 47_Ursae_Majoris_c, 4_Vesta, 4th_century, 55_Cancri, 55_Cancri_b, 55_Cancri_c, 55_Cancri_d, 55_Cancri_e, 5th_century, 6-2-0, 6th_century, 7th_century, 8th_century, 90377_Sedna, 9th_century, A._E._J._Collins, ABO_blood_group_system, AC_DC, AIDS, AK-47, ALCO_FA, ASCII, AT&T, ATLAS_experiment, A_Christmas_Carol, A_Tale_of_a_Tub, A_Wrinkle_in_Time, A_cappella, Aachen, Aardvark, Aarhus, Abacá, Abacus, Abadan, Abbadid, Abbas_I_of_Persia, Abbasid, Abbey, Abbey_Theatre, Abbot, Abel_Tasman, Aberdeen, Aberration_of_light, Aberystwyth, Abhidhamma_Pitaka, Abidjan, Abkhazia, Able_Archer_83, Abraham_Goldfaden, Abraham_Lincoln, Absinthe, Absolute_zero, ...]
Index: []

[0 rows x 4604 columns]